{% load static %}
<!DOCTYPE html>

<html lang='pt-br'>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset='utf-8' />

		<link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet"> 

		<link rel="stylesheet" type="text/css" href="http://www.w3schools.com/lib/w3.css">
		<link rel="stylesheet" type="text/css" href="{% static 'crystal/css/crystal.css' %}">

		<title>{% block title %}{% endblock %}</title>
	</head>

	<body>
		<ul class="w3-navbar w3-large w3-black w3-left-align">
			<li class="w3-hide-medium w3-hide-large w3-black w3-opennav w3-right">
				<a href="javascript:void(0);" onclick="myFunction()">☰</a>
			</li>
			<li><img src="{% static 'crystal/img/icon.png' %}" style="margin: auto; width: 36px;" /></li>
			<li class="w3-hide-small"><a href="{% url 'crystal:index' %}">Página principal</a></li>
			<li class="w3-hide-small"><a href="{% url 'crystal:test_list' %}">Provas</a></li>
			<li class="w3-hide-small"><a href="{% url 'crystal:ranking' %}">Ranking</a></li>
		</ul>

		<div id="menu-pequeno" class="w3-hide w3-hide-large w3-hide-medium">
			<ul class="w3-navbar w3-left-align w3-large w3-black">
				<li><a href="{% url 'crystal:index' %}">Página principal</a></li>
				<li><a href="{% url 'crystal:test_list' %}">Provas</a></li>
				<li><a href="{% url 'crystal:ranking' %}">Ranking</a></li>
			</ul>
		</div>

		<div class="w3-container" id="conteudo">
			{% block content %}
			{% endblock %}
		</div>

		<script>
			function myFunction() {
				var x = document.getElementById("menu-pequeno");
			
				if (x.className.indexOf("w3-show") == -1) {
						x.className += " w3-show";
				} else { 
						x.className = x.className.replace(" w3-show", "");
				}
			}
		</script>
	</body>
</html>