{% load static %}
<!DOCTYPE html>

<html lang='pt-br'>
	<head>
		<meta charset='utf-8' />

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'crystal/css/crystal.css' %}">

		<title>{% block title %}{% endblock %}</title>
	</head>

	<body>
	<ul>
		<li><a href="{% url 'crystal:index' %}">Página principal</a></li>
		<li><a href="{% url 'crystal:ranking' %}">Ranking</a></li>
		<li><a href="{% url 'crystal:test_list' %}">Provas</a></li>
	</ul>
	{% block content %}
	{% endblock %}
	</body>
</html>