{% extends "crystal/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
		<h1>{{ test.titulo }}</h1>

		<p>Autor: {{ test.autor.nome }}</p>

		<form action="{% url 'crystal:test_details' test.id %}" method="post">
			{% csrf_token %}
			{% for question in questions %}
			<p>{{ forloop.counter }}) {{ question.enunciado }}</p>
				<ul>
					<li>
						<input type="radio" name="question{{ forloop.counter }}" value="{{ question.opcao1 }}" />
						<label>a) {{ question.opcao1 }}</label>
					</li>
					
					<li>
						<input type="radio" name="question{{ forloop.counter }}" value="{{ question.opcao2 }}" />
						<label>b) {{ question.opcao2 }}</label>
					</li>
					
					<li>
						<input type="radio" name="question{{ forloop.counter }}" value="{{ question.opcao3 }}" />
						<label>c) {{ question.opcao3 }}</label>
					</li>
					
					<li>
						<input type="radio" name="question{{ forloop.counter }}" value="{{ question.opcao4 }}" />
						<label>d) {{ question.opcao4 }}</label>
					</li>
				</ul>
			</p>

			{% endfor %}
			<input type="submit" value="Finalizar" />
		</form>
{% endblock %}