{% extends "crystal/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
	{% if test %}
		<h1>{{ test.titulo }}</h1>

		<p>
			Autor: {{ test.autor.nome }}<br/>
			Dificuldade: {{ test.dificuldade }}
		</p>

		<form action="{% url 'crystal:test_details' test.id %}" method="post">
			{% csrf_token %}
			<label for="user">Seu apelido:</label>
			<input id="user" maxlength="30" name="user" type="text" required>

			{% for question in questions %}
			<div class="questao">
				<p>{{ forloop.counter }}) {{ question.enunciado }}</p>
				
				<input type="radio" name="question{{ forloop.counter }}" value="{{ question.opcao1 }}" required/>
				<label>a) {{ question.opcao1 }}</label>
				<br />

				<input type="radio" name="question{{ forloop.counter }}" value="{{ question.opcao2 }}" />
				<label>b) {{ question.opcao2 }}</label>
				<br />

				<input type="radio" name="question{{ forloop.counter }}" value="{{ question.opcao3 }}" />
				<label>c) {{ question.opcao3 }}</label>
				<br />

				<input type="radio" name="question{{ forloop.counter }}" value="{{ question.opcao4 }}" />
				<label>d) {{ question.opcao4 }}</label>
				</div>
			{% endfor %}
			<input type="submit" value="Finalizar" style="margin: 20px 0;"/>
		</form>
	{% else %}
		{% for answer in answers %}
		<p>
			<b>Questão {{ forloop.counter }}</b>: {{ answer.0.enunciado }}<br />
			&nbsp; &nbsp; &nbsp; Resposta correta: {{ answer.0.opcao1 }}<br />
			{% if answer.0.opcao1 == answer.1 %}
			&nbsp; &nbsp; &nbsp; Resposta marcada: <span class="certo">{{ answer.1 }}</span>
			{% else %}
			&nbsp; &nbsp; &nbsp; Resposta marcada: <span class="errado">{{ answer.1 }}<span>
			{% endif %}
		</p>
		{% endfor %}
		<p><strong>Resultado: {{ result }} questões de 5.</strong></p>
	{% endif %}
{% endblock %}