{% extends "crystal/base.html" %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>Provas</h1>

<div>
	<img src="{% static 'crystal/img/bear.png' %}" align="left" style="width: 100px; ">
	<p> &nbsp; <i>Vai encarar uma prova?!?! grrrrr! Clique sobre o título de uma prova, informe seu nome a ser colocado no ranking e comece já a resolvê-la. Ganhei mais pontos que todo mundo e seja o melhor!</i></p>
	<p><a href="{% url 'crystal:submit_test' %}"> Submeta sua prova!</a></p>
</div>

{% if tests %}
<table>
	<thead>
		<tr>
			<th>Autor</th>
			<th>Nome</th>
			<th>Dificuldade</th>
		</tr>
	</thead>
	<tbody>
{% for test in tests %}
		<tr>
			<td class="autor">{{ test.autor.nome }}</td>
			<td class="titulo"><a href="{% url 'crystal:test_details' test.id %}">{{ test.titulo }}</a></td>
			<td class="dificuldade">{{ test.dificuldade }}</td>
		</tr>
{% endfor %}
	</tbody>
</table>

{% else %}
<p>Nenhuma prova cadastrada até o momento.</p>
{% endif %}
{% endblock %}