{% extends "crystal/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>Ranking</h1>

{% if users %}
<table class="ranking">
	<thead>
		<tr>
			<th>Posição</th>
			<th>Nome</th>
			<th>Pontuação</th>
		</tr>
	</thead>
	<tbody>
{% for user in users %}
		<tr>
			<td>{{ forloop.counter }}º</td>
			<td>{{ user.nome }}</td>
			<td>{{ user.pontuacao }}</td>
		</tr>
{% endfor %}
	</tbody>
</table>

{% else %}
<p>Nenhum usuário realizou prova até o momento.</p>
{% endif %}
{% endblock %}