{% extends "crystal/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% if form %}
<h1>Nova prova!</h1>

<p>
	1º obs.: Sempre insira a resposta <b>correta</b> na letra <b>a</b>. Posteriormente, nós trocaremos as opções.<br />
	2º obs.: O limite de questões para criação do usuário é <b>5</b>, apenas administradores podem criar provas com mais de 5 questões. Pensando nisso, escolha bem as cinco questões a serem respondidas.
</p>

<form action="{% url 'crystal:submit_test' %}" method="POST">
    {% csrf_token %} 
 
 	<div class="questao">
		<h2>Informações básicas</h2>
	    <p><label for="id_autor">Autor:</label> <input class="w3-input w3-border-0 w3-round-larger" id="id_autor" maxlength="30" name="autor" type="text" required /></p>
		<p><label for="id_titulo">Titulo:</label> <input class="w3-input w3-border-0 w3-round-larger" id="id_titulo" maxlength="40" name="titulo" type="text" required /></p>
		<p><label for="id_dificuldade">Dificuldade:</label> <select class="w3-select w3-input" id="id_dificuldade" name="dificuldade" required>
		<option value="1">Muito fácil</option>
		<option value="2">Fácil</option>
		<option value="3">Médio</option>
		<option value="4">Difícil</option>
		<option value="5">Muito difícil</option>
		</select></p>
	</div>

	<div class="questao">
		<h2>1º Questão</h2>
		<p><label for="id_enunciado_1">Enunciado:</label> <input class="w3-input w3-border-0 w3-round-larger" id="id_enunciado_1" maxlength="300" name="enunciado_1" type="text" required /></p>
		<p><label for="id_questao_1_1">Opção a):</label> <input class="w3-input w3-border-0 w3-round-larger" id="id_questao_1_1" maxlength="150" name="questao_1_1" type="text" required /></p>
		<p><label for="id_questao_1_2">Opção b):</label> <input class="w3-input w3-border-0 w3-round-larger" id="id_questao_1_2" maxlength="150" name="questao_1_2" type="text" required /></p>
		<p><label for="id_questao_1_3">Opção c):</label> <input class="w3-input w3-border-0 w3-round-larger" id="id_questao_1_3" maxlength="150" name="questao_1_3" type="text" required /></p>
		<p><label for="id_questao_1_4">Opção d):</label> <input class="w3-input w3-border-0 w3-round-larger" id="id_questao_1_4" maxlength="150" name="questao_1_4" type="text" required /></p>
	</div>

	<div class="questao">
		<h2>2º Questão</h2>
		<p><label for="id_enunciado_2">Enunciado:</label> <input class="w3-input w3-border-0 w3-round-larger" id="id_enunciado_2" maxlength="300" name="enunciado_2" type="text" required /></p>
		<p><label for="id_questao_2_1">Opção a):</label> <input class="w3-input w3-border-0 w3-round-larger" class="w3-input w3-border-0 w3-round-larger" id="id_questao_2_1" maxlength="150" name="questao_2_1" type="text" required /></p>
		<p><label for="id_questao_2_2">Opção b):</label> <input class="w3-input w3-border-0 w3-round-larger" id="id_questao_2_2" maxlength="150" name="questao_2_2" type="text" required /></p>
		<p><label for="id_questao_2_3">Opção c):</label> <input class="w3-input w3-border-0 w3-round-larger" id="id_questao_2_3" maxlength="150" name="questao_2_3" type="text" required /></p>
		<p><label for="id_questao_2_4">Opção d):</label> <input class="w3-input w3-border-0 w3-round-larger" id="id_questao_2_4" maxlength="150" name="questao_2_4" type="text" required /></p>
	</div>

	<div class="questao">
		<h2>3º Questão</h2>
		<p><label for="id_enunciado_3">Enunciado:</label> <input class="w3-input w3-border-0 w3-round-larger" id="id_enunciado_3" maxlength="300" name="enunciado_3" type="text" required /></p>
		<p><label for="id_questao_3_1">Opção a):</label> <input class="w3-input w3-border-0 w3-round-larger" id="id_questao_3_1" maxlength="150" name="questao_3_1" type="text" required /></p>
		<p><label for="id_questao_3_2">Opção b):</label> <input class="w3-input w3-border-0 w3-round-larger" id="id_questao_3_2" maxlength="150" name="questao_3_2" type="text" required /></p>
		<p><label for="id_questao_3_3">Opção c):</label> <input class="w3-input w3-border-0 w3-round-larger" id="id_questao_3_3" maxlength="150" name="questao_3_3" type="text" required /></p>
		<p><label for="id_questao_3_4">Opção d):</label> <input class="w3-input w3-border-0 w3-round-larger" id="id_questao_3_4" maxlength="150" name="questao_3_4" type="text" required /></p>
	</div>

	<div class="questao">
		<h2>4º Questão</h2>
		<p><label for="id_enunciado_4">Enunciado:</label> <input class="w3-input w3-border-0 w3-round-larger" id="id_enunciado_4" maxlength="300" name="enunciado_4" type="text" required /></p>
		<p><label for="id_questao_4_1">Opção a):</label> <input class="w3-input w3-border-0 w3-round-larger" id="id_questao_4_1" maxlength="150" name="questao_4_1" type="text" required /></p>
		<p><label for="id_questao_4_2">Opção b):</label> <input class="w3-input w3-border-0 w3-round-larger" id="id_questao_4_2" maxlength="150" name="questao_4_2" type="text" required /></p>
		<p><label for="id_questao_4_3">Opção c):</label> <input class="w3-input w3-border-0 w3-round-larger" id="id_questao_4_3" maxlength="150" name="questao_4_3" type="text" required /></p>
		<p><label for="id_questao_4_4">Opção d):</label> <input class="w3-input w3-border-0 w3-round-larger" id="id_questao_4_4" maxlength="150" name="questao_4_4" type="text" required /></p>
	</div>

	<div class="questao">
		<h2>5º Questão</h2>
		<p><label for="id_enunciado_5">Enunciado:</label> <input class="w3-input w3-border-0 w3-round-larger" id="id_enunciado_5" maxlength="300" name="enunciado_5" type="text" required /></p>
		<p><label for="id_questao_5_1">Opção a):</label> <input class="w3-input w3-border-0 w3-round-larger" id="id_questao_5_1" maxlength="150" name="questao_5_1" type="text" required /></p>
		<p><label for="id_questao_5_2">Opção b):</label> <input class="w3-input w3-border-0 w3-round-larger" id="id_questao_5_2" maxlength="150" name="questao_5_2" type="text" required /></p>
		<p><label for="id_questao_5_3">Opção c):</label> <input class="w3-input w3-border-0 w3-round-larger" id="id_questao_5_3" maxlength="150" name="questao_5_3" type="text" required /></p>
		<p><label for="id_questao_5_4">Opção d):</label> <input class="w3-input w3-border-0 w3-round-larger" id="id_questao_5_4" maxlength="150" name="questao_5_4" type="text" required /></p>
	</div>

    <button style="margin-bottom: 10px" type="submit">Criar prova</button>
</form>
{% else %}
<h1>Prova criada!</h1>

<p>Para compartilha-la com seus amigos, divulgue o link abaixo: </p>
<p><a href="{% url 'crystal:test_details' test_id %}">{{ request.META.HTTP_HOST }}{% url 'crystal:test_details' test_id %}</a></p>
{% endif %}
{% endblock %}